body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

#wrapper {
    /* min-height: 100vh; */
    flex: 1 0 auto;
    min-width: 100vw;
    margin-bottom: 0;
}


footer {
    height: 10vh;
}
#aside ul li a {
    font-size: 150%;
}
.nav
img.menu-icon {
    height: 100%;
}
.iris {
    /* background-image: url("../images/icon.png");
    background-repeat: no-repeat; */
    /* min-height: 16em; */
    width: 100%;
    /* background-size: cover; */

}

/* INDEX TEMPLATE */
h1.home-title {
    margin: 0 40px;
    padding: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    background: url('../images/title-background.jpg')no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 10vw;
    font-weight: bold;
}
h5.home-subtitle {
    margin: 10px 40px;
}
.home-latest {
    margin: 0 40px;
}
