{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
    
    <h3>About Me</h3>
    <div class="container">

        <div class="col s12">
            <div class="card-panel grey lighten-5 z-depth-1 about-card">
                <div class="row">
                    <div class="col l4 s8 offset-s2">
                        <img src="{% static 'blog/images/about.jpeg' %}" alt="" class="circle responsive-img"> 
                    </div>
                    <div class="col l8 s12 black-text flow-text">
                        <p>Hello there. I'm Denis and I'm a Python and web developer from Ukraine 
                        but currently living on a beautiful island of Hainan in China. When I'm not {coding},
                        I learn Chinese, surf and read.</p>
                        <p>I used to work in digital marketing, freelance writing, and teaching Computer 
                        Science, and teaching English in China. It is here where I can combine my passion 
                        to writing, teaching and programming. I teach and write about Python, Django and 
                        sometimes I like to cover other programming-related topics. 
                        </p>
                        
                         
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col s12">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row">
                    <div class="col flow-text s12">
                        <span class="center-align">Contact me if you want to chat or collaborate.</span>
                        <div class="collection">
                            <a href="mailto:denibulkashvili@gmail.com" class="collection-item">Email: denibulkashvili@gmail.com</a>
                            <a href="https://github.com/denibulkashvili" class="collection-item">Github</a>
                            <a href="https://twitter.com/Denis51277865" class="collection-item">Twitter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card-panel grey lighten-5 z-depth-1">
                <h3>Projets Showcase</h3>
                
                <div class="row about-project">
                    <div class="col l6 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{% static 'blog/images/digital-prntscn.jpg' %}" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <p class="card-title"><b>[Django] Blog</b></p>
                                <p>Blog application written using Django and styled with Materialize framework.</p>
                            </div>
                            <div class="card-action">
                                <a href="http://digitalbungalow.pythonanywhere.com">Live version</a>
                                <a href="https://github.com/denibulkashvili/django-blog">Github repository</a>
                            </div>
                        </div> 
                    </div>
                    <div class="col l6 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{% static 'blog/images/youtube-prntscn.jpg' %}" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <p class="card-title"> <b>[React] Youtube Clone</b> </p>
                                <p>SPA written in React and styled with Material-UI that mimics the functionality of YouTube. 
                                    I developed Youtube clone as part of the Chingu Cohorts remote team. 
                                    As a Team Lead I used Agile approach to development and git/Github workflow  </p>
                            </div>
                            <div class="card-action">
                                <a href="https://youtube-clone-site.herokuapp.com/">Live version</a>
                                <a href="https://github.com/chingu-voyage6/Geckos-Team-27">Github repository</a>
                            </div>
                        </div> 
                    </div>
                </div> <!-- /row about-project -->

                <div class="row about-project">
                    <div class="col l6 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{% static 'blog/images/victoria-prntscn.jpg' %}" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <p class="card-title"><b>[Wordpress/PHP] Custom Theme and Website</b></p>
                                <p>Wordpress theme and website written with PHP and HTML/CSS and a dash of Javascript for a dance studio in Sanya, China.</p>
                            </div>
                            <div class="card-action">
                                <a href="http://victoria-dance.com/">Live version</a>
                                <a href="#">No Github</a>
                            </div>
                        </div> 
                    </div>
                    <div class="col l6 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{% static 'blog/images/designjedi-prntscn.jpg' %}" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <p class="card-title"> <b>[Html/Css/JavaScript] Product Landing Page</b> </p>
                                <p> A mock-up landing page for a book release. Written mostly with modern HTML/CSS respnsive technologies.</p>
                            </div>
                            <div class="card-action">
                                <a href="https://codepen.io/deni28/pen/VGKXWM">Live version</a>
                                <a href="https://github.com/denibulkashvili/design-landing-page">Github repository</a>
                            </div>
                        </div> 
                    </div>
                </div> <!-- /row about-project -->

                    

            </div>
        </div>

    </div> <!-- container-->

{% endblock %}