{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
    
    <h3>About Me</h3>
    <div class="container">

        <div class="col s12">
            <div class="card-panel grey lighten-5 z-depth-1 about-card">
                <div class="about-img">
                    <img src="{% static 'blog/images/about.jpeg' %}" alt="" class="circle responsive-img"> 
                </div>
                <div class="about-info black-text flow-text valign-wrapper">
                    Hello there. I'm Denis and I write this blog to share things about the technologies that interest me. I mostly write about Python, Django, JavaScript, React and Machine Learning. 
                </div>
            </div>
        </div>
    
        <div class="col s12">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row">
                    <div class="col flow-text s12">
                        <span class="center-align">Contact me if you want to chat or collaborate.</span>
                        <div class="collection">
                            <a href="mailto:denibulkashvili@gmail.com" class="collection-item">Email: denibulkashvili@gmail.com</a></td>
                            <a href="https://github.com/denibulkashvili" class="collection-item">Github: denibulkashvili</a></td>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card-panel grey lighten-5 z-depth-1">
                <h3>Projets Showcase</h3>
                <div class="row about-project">
                    

                    <div class="col l6 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{% static 'blog/images/digital-prntscn.jpg' %}" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <p class="card-title"><b>[Django] Blog</b></p>
                                <p>Blog application written using Django - Python Web framework and styled with Materialize framework.</p>
                            </div>
                            <div class="card-action">
                                <a href="http://digitalbungalow.pythonanywhere.com">Live version</a>
                                <a href="https://github.com/denibulkashvili/django-blog">Github repository</a>
                            </div>
                        </div> 
                    </div>

                    <div class="col l6 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{% static 'blog/images/youtube-prntscn.jpg' %}" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <p class="card-title"> <b>[React] Youtube Clone</b> </p>
                                <p>SPA written in React and styled with Material-UI that mimcs the functionality of YouTube. 
                                    I developed Youtube clone as part of the Chingu Cohorts remote team. 
                                    As a Team Lead I used Agile approach to development and and git/Github workflow  </p>
                            </div>
                            <div class="card-action">
                                <a href="https://youtube-clone-site.herokuapp.com/">Live version</a>
                                <a href="https://github.com/chingu-voyage6/Geckos-Team-27">Github repository</a>
                            </div>
                        </div> 
                    </div>

                </div>
            </div>
        </div>

    </div> <!-- container-->

{% endblock %}