{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
    
    <h3>About Me</h3>
    <div class="container">

        <div class="col s12">
            <div class="card-panel grey lighten-5 z-depth-1 about-card">
                <div class="row">
                    <div class="col l4 s8 offset-s2">
                        <img src="{% static 'blog/images/about.jpeg' %}" alt="" class="circle responsive-img"> 
                    </div>
                    <div class="col l8 s12 black-text flow-text">
                        <p>Hello there. I'm Denis and I'm a Python and web developer from Ukraine 
                        but currently living in Hanoi, Vietnam. When I'm not {coding},
                        I learn Chinese and read.</p>
                        <p>I used to work in digital marketing, freelance writing, and teaching English 
                        in China and Vietnam. It is here where I can combine my passion to writing, teaching and 
                        programming. I write about Python, Django and sometimes I like to cover other 
                        programming-related topics. 
                        </p>
                        
                         
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col s12">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row">
                    <div class="col flow-text s12">
                        <span class="center-align">Contact me if you want to chat or collaborate.</span>
                        <div class="collection">
                            <a href="mailto:denibulkashvili@gmail.com" class="collection-item">Email</a>
                            <a href="https://github.com/denibulkashvili" class="collection-item">Github</a>
                            <a href="https://twitter.com/denibulkashvili" class="collection-item">Twitter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card-panel grey lighten-5 z-depth-1">
                <h3>Projets Showcase</h3>
                
                <div class="row about-project">
                    <div class="col l6 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{% static 'blog/images/digital-prntscn.jpg' %}" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <p class="card-title"><b>[Django] Blog</b></p>
                                <p>Blog application written using Django and styled with Materialize framework.</p>
                            </div>
                            <div class="card-action">
                                <a href="http://bulkashvili.com">Live version</a>
                                <a href="https://github.com/denibulkashvili/django-blog">Github repository</a>
                            </div>
                        </div> 
                    </div>
                    <div class="col l6 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{% static 'blog/images/youtube-prntscn.jpg' %}" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <p class="card-title"> <b>[React] Youtube Clone</b> </p>
                                <p>SPA written in React and styled with Material-UI that mimics the functionality of YouTube. 
                                    I developed Youtube clone as part of the Chingu Cohorts remote team. 
                                    As a Team Lead I used Agile approach to development and git/Github workflow  </p>
                            </div>
                            <div class="card-action">
                                <a href="https://youtube-clone-site.herokuapp.com/">Live version</a>
                                <a href="https://github.com/chingu-voyage6/Geckos-Team-27">Github repository</a>
                            </div>
                        </div> 
                    </div>
                </div> <!-- /row about-project -->

                <div class="row about-project">
                    <div class="col l6 s12">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="https://raw.githubusercontent.com/denibulkashvili/static/master/localweather-prntscn.JPG" class="responsive-img">
                            </div>
                            <div class="card-content">
                                <p class="card-title"><b>[Javascript/HTML/CSS/Bootstrap] Local Weather Application</b></p>
                                <p>
                                    JavaScript Application that uses geolocation to show the current weather 
                                    in your local area. It makes use of HTML5 Geolocation feature and weather API. 
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="https://local-weatherfcc.herokuapp.com/">Live version</a>
                                <a href="https://github.com/denibulkashvili/local-weather-app">Github</a>
                            </div>
                        </div> 
                    </div>
                    <div class="row about-project">
                            <div class="col l6 s12">
                                    <div class="card hoverable">
                                        <div class="card-image">
                                            <img src="https://raw.githubusercontent.com/denibulkashvili/static/master/twitter-prntscn.jpg" class="responsive-img">
                                        </div>
                                        <div class="card-content">
                                            <p class="card-title"><b>[Python] Twitter Bot</b></p>
                                            <p>
                                                This Twitter bot works with the script written in Python, which fetches data 
                                                from an API of quotes for software developers and sends them to Twitter API 
                                                using Tweepy as interface. It runs on Heroku using simple Flask server. Here's an 
                                                <a href="http://bulkashvili.com/post/Twitter%20Bot%20with%20Python%20From%20Scratch/">
                                                    article
                                                </a> 
                                                on how I built it. 
                                            </p>
                                        </div>
                                        <div class="card-action">
                                            <a href="https://twitter.com/DevQuotes2">Live version</a>
                                            <a href="https://github.com/denibulkashvili/dev-twitter-bot">Github</a>
                                        </div>
                                    </div> 
                                </div>
                            
                </div> <!-- /row about-project -->

                <div class="row about-project">
                        <div class="col l6 s12">
                                <div class="card hoverable">
                                    <div class="card-image">
                                        <img src="https://raw.githubusercontent.com/denibulkashvili/static/master/pomodoro-prntscn.jpg" class="responsive-img">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-title"><b>[React] Pomodoro App</b></p>
                                        <p>
                                            Single page application made with React. I wrote a 
                                            <a href="http://bulkashvili.com/post/Building%20Pomodoro%20Clock%20for%20FCC%20Speedrun/">
                                                blog post
                                            </a> 
                                            about my experience on working on this project. This project implements 
                                            testing with Jest and Enzyme, and continuous integration with Travis CI.
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <a href="https://pomodoro-app-fcc.herokuapp.com/">Live version</a>
                                        <a href="https://github.com/bears-team-06/pomodoro-clock">Github</a>
                                    </div>
                                </div> 
                            </div>
                </div> <!-- /row about-project -->

                

                    

            </div>
        </div>

    </div> <!-- container-->

{% endblock %}