<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Digital Bungalow </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/mystyle.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'blog/css/materialize.min.css' %}"  
        media="screen,projection"/>

</head>
<body>
    <div id="wrapper" class="row blue-grey lighten-5">
        <div id="aside">
            <ul id="slide-out" class="sidenav grey darken-4">

                <li><div class="user-view">
                    <a href="{% url 'index' %}">
                        <div class="iris">
                            <img class="responsive-img" 
                                src="{% static 'blog/images/icon-circle.png' %}" 
                                alt="bungalow-icon">
                        </div>
                    </a>
                </div></li>

                <li>
                    <a href="{% url 'index' %}"
                        class="grey darken-4 orange-text waves-effect waves-light ">&lt; home /&gt;</a>
                </li>
                <li>
                    <a href="{% url 'topics' %}"
                        class="grey darken-4 orange-text waves-effect waves-light">&lt; topics /&gt;</a>
                </li>
                <li>
                    <a href="{% url 'about' %}"
                        class="grey darken-4 orange-text waves-effect waves-light">&lt; about /&gt;</a>
                </li>
                
            </ul>
            <a href="" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
        </div> <!-- #aside -->
        
        <div id="page-content" class="col s12 center-align">
            
            {% block content %}
            {% endblock %}
            
        </div> <!-- #page-content-->

    </div> <!-- /wrapper-->

    <footer class="page-footer teal darken-4">
        <div class="container">
            <div class="footer-copyright">
              <div class="container">
                Digital Bungalow Blog © 2018
              <a class="grey-text text-lighten-4 right" href="#!">Social Media Links</a>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="{% static 'blog/js/materialize.min.js' %}"></script>

    <script>
        // Init sidenav
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);

            // Initialize collapsible 
            
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);

        });

        
    </script>
</body>
</html>