<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Digital Bungalow </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/mystyle.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'blog/css/materialize.min.css' %}"  
        media="screen,projection"/>

</head>
<body>
    <div id="wrapper" class="row blue-grey lighten-5">
        
        <div id="navigation">

                <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper cyan darken-4">
                    <a href="" data-target="slide-out" class="sidenav-trigger show-on-medium-and-down"><i class="material-icons medium">menu</i></a>
                    <ul class="center-align hide-on-med-and-down">
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'topics' %}">TOPICS</a></li>
                        <li><a href="{% url 'about' %}">ABOUT</a></li>
                    </ul>
                    <a href="{% url 'index' %}" class="brand-logo center hide-on-large-only"><img src="{% static 'blog/images/icon-circle.png' %}" alt="" width="50"></a>
                    <a href="{% url 'index' %}" class="brand-logo right hide-on-med-and-down"><img src="{% static 'blog/images/icon-circle.png' %}" alt="" width="50"></a>
                </div>
            </nav>
                </div>

            <ul id="slide-out" class="sidenav cyan darken-4">
                <li><div class="user-view">
                    <a href="{% url 'index' %}">
                        <div class="iris">
                            <img class="responsive-img" 
                                src="{% static 'blog/images/icon-circle.png' %}" 
                                alt="bungalow-icon">
                        </div>
                    </a>
                </div></li>

                <li>
                    <a href="{% url 'index' %}"
                        class="cyan darken-4 white-text waves-effect waves-light ">Home</a>
                </li>
                <li>
                    <a href="{% url 'topics' %}"
                        class="cyan darken-4 white-text waves-effect waves-light">Topics</a>
                </li>
                <li>
                    <a href="{% url 'about' %}"
                        class="cyan darken-4 white-text waves-effect waves-light">About </a>
                </li>
            </ul>
            
            
                
        </div> <!-- #navigation -->
        
        <div id="page-content" class="col s12 center-align">
            
            {% block content %}
            {% endblock %}
            
        </div> <!-- #page-content-->

    </div> <!-- /wrapper-->

    <footer class="page-footer cyan darken-4 center-align">
        
              Digital Bungalow Blog © 2018
        
    </footer>


    <script type="text/javascript" src="{% static 'blog/js/materialize.min.js' %}"></script>

    <script>
        // Init sidenav
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);

            // Initialize collapsible 
            
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);

        });

        
    </script>
</body>
</html>