<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Digital Bungalow </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/mystyle.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'blog/css/materialize.min.css' %}"  
        media="screen,projection"/>

</head>
<body>
    <div id="wrapper" class="row blue-grey lighten-5">
        <div id="aside" class="col s2 teal ">
            
            <header>
                <a href="{% url 'index' %}">
                    <img class="responsive-img" 
                            src="{% static 'blog/images/icon.png' %}" 
                            alt="bungalow-icon" 
                            width="100%">
                </a>
            </header>
            <div class="nav">
                <div class="collection flow-text" >
                    <a href="" 
                        class="collection-item grey darken-4 orange-text waves-effect waves-light">
                            navigation <span>{</span>
                    </a>
                    <a href="{% url 'index' %}" 
                        class="collection-item grey darken-4 blue-text waves-effect waves-light">
                            &nbsp;&nbsp;home<span>;</span>
                    </a>
                    <a href="{% url 'topics' %}" 
                        class="collection-item grey darken-4 blue-text waves-effect waves-light">
                            &nbsp;&nbsp;topics<span>;</span>
                    </a>
                    <a href="{% url 'about' %}" 
                        class="collection-item grey darken-4 blue-text waves-effect waves-light">
                            &nbsp;&nbsp;about<span>;</span>
                    </a>
                    <a href="" 
                        class="collection-item grey darken-4 white-text waves-effect waves-light">
                            <span>}</span>
                    </a>
                </div> <!-- /collection -->
            </div> <!-- /nav -->
        
        </div> <!-- #aside -->
        
        <div id="page-content" class="col s10 container">
            {% block content %}
            {% endblock %}
        </div> <!-- #page-content-->

    </div> <!-- /wrapper-->

    <footer class="page-footer teal darken-4">
        This is a footer
    </footer>


    <script type="text/javascript" src="{% static 'blog/js/materialize.min.js' %}"></script>
</body>
</html>