{% extends "blog/base.html" %}

{% block content %}
    <h1 class="home-title">DIGITAL BUNGALOW</h1>
    <div class="container">
        <section class="home">
            

            <h3 class="home-subtitle">Here are the latest posts</h3>

            {% if post_list %}
                <ol>
                    {% for post in post_list %}
                        <li>
                            <a href="post/{{post.title}}">{{post.title}}</a> in <a href="topics/{{post.topic}}">{{post.topic}}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                There are no posts yet.
            {% endif %}
        </section>
    </div>
{% endblock %}