{% extends "blog/base.html" %}

{% block content %}
    
    <div class="container">
        {% if post %}
            <h3>{{post.title}}</h3>
            <p>published on <b>{{post.date_published|date:"M d, Y"}}</b> in <a href="../../topics/{{post.topic.title}}/">{{post.topic}}</a></p>
            <div class="left-align article-content">
                {{post.text|safe}} <!-- |safe for ckeditor -->
            </div>
        {% else %}
            The post doesn't exist.
        {% endif %}
    

        <div class="more-posts">
            <h4>More Articles</h4>
            <div class="col s12">
                {% if random_posts %}
                        {% for rand_post in random_posts %}
                            {% if rand_post != post %}
                                <a href="../../post/{{rand_post.title}}">
                                    <div class="card horizontal">
                                        <h5 class="card-content">{{ rand_post.title }}</h5>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                {% else %}
                    <a href="../../topics">
                        <div class="card horizontal">
                            <h5 class="card-content">Choose a Topic</h5>
                        </div>
                    </a>    
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}